:root{
    --fundo:#E6E6FA;
    --cartao-frente:#c6a1f7;
    --cartao-verso:#bb96f7;
    --destaque: #6e00c9;
    --preto:#000000;
    --branco:#ffffff;
}
body{
    background-color: var(--fundo);
}

header{
    background-color: var(--preto);
    padding: 40px;
    display: flex;
    justify-content:space-around;
}

header a {
    color:var(--branco)
}



footer{
    position: fixed;
    bottom: 0;
    background-color: var(--preto);
    color: var(--branco);
    width: 100%;
    text-align: center;
}

#container{
    display: grid;
    padding: 40px;
    gap: 4rem;
}

.conteudo-cartao{
    padding: 40px;
    background-color: var(--cartao-frente);
    color: var(--branco);
    box-shadow: 8px 8px 25px var(--preto);
    cursor: pointer;
}

.resposta-cartao{
    padding: 40px;
    background-color: var(--cartao-verso);
    display: none;
}

.conteudo-cartao:hover{
transform: scale(1.04);
}